---
layout: base
---

{% set category = page.url | replace('/', '') %}

{% set photos = collections.photos[category] %}

<h1>{{ category }}</h1>

{% for photo in photos %}
    <img src="{{ photo.url }}" alt="{{ photo.name }}">
{% endfor %}
