---
layout: base
---

{% set filteredImages = collections.images | filter(image => image.folder == folder) %}

<h1>Gallery: {{ folder }}</h1>

<ul>
    {% for image in filteredImages %}
        <li><img src="{{ image.url }}" alt="{{ image.name }}"></li>
    {% endfor %}
</ul>
