---
layout: base
pagination: 
    data: collections.photos
    size: 1
    alias: category
permalink: "/{{ category | slugify }}/index.html"
---

{% from 'photo_view.njk' import photo_view %}

{% set photos = collections.photos[category] %}

<h1>{{ category }}</h1>

<ul>
{% for photo in photos %}
    <li>{{ photo_view(photo) }}</li>
{% endfor %}
</ul>
