---
layout: base
permalink: /
---

{% from 'photo_view.njk' import photo_view %}

<ul>
{% for category, photos in collections.photos %}
    <li>
        <div class="cat">
            <a href="/{{ category | slugify }}">
                {{ photo_view(photos[0]) }}
            </a>
            <p>{{ category }}</p>
        </div>
    </li>
{% endfor %}
</ul>
